@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts {
    <script type="module">
        // Importing a module script
        import { getOrder } from '/js/core/order.api.js';
        // Example of a simple script to enhance the page
        document.addEventListener('DOMContentLoaded', function() {
            getOrder();
        });
    </script>
}